:root {
  /* Color Palette */
  --mango: orange;
  --daffodil: #ffd600;
  --cornflower: #1046A9;
  --arcane: #3c13af;

  /* Breakpoints */
  --xs-width: 340px;
  --sm-width: 600px;
  --md-width: 900px;
  --lg-width: 1200px;
  --xl-width: 1800px;
  --xxl-width: 2000px;

  /* Fonts */
  --header-font: 'Pacifico', cursive;
  --regular-font: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--regular-font);
  font-size: 1.6rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-weight: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Utility classes */
.container {
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 1700px;
  }
}
